*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    /* overflow-x: hidden; */

}
body{
    background-color: #E6E6E6;
    position: relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    outline: none;
}

/* Admin panel */


/* header  */
.admin_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    background-color: #fff;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .1);
    width: 100%;
}

.admin_button{
    transition: .3s all;
    position: relative;

}
.admin_button:before{
    content: '';
    display: block;
    width: 110%;
    height: 121%;
    position: absolute;
    right: -5px;
    top: -5px;
    border: 2px solid #831e1e;
    border-left: none;
    border-bottom: none;
    transition: .4s all;
    transform: scale(0);
    transform-origin: right top;
}
.admin_button:after{
    content: '';
    display: block;
    width: 110%;
    height: 121%;
    position: absolute;
    left: -5px;
    bottom: -5px;
    border: 2px solid #831e1e;
    border-right: none;
    border-top: none;
    transition: .4s all;
    transform: scale(0);
    transform-origin: left bottom;
}
.admin_button:hover:after, .admin_button:hover:before{
    transform: scale(1);
}
.admin_button:hover{
    color: #462626;
    cursor: pointer;
}
.menu_icon{
    transition: ease .2s;
    font-size: 28px;
}
.menu_icon:hover{
    cursor: pointer;
    color: blueviolet;
}

/* header  */


/* side menu */

.side_menu{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: #fff;
    width: 300px;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, .1);
    transform: translateX(-500px);
    transition: .7s all;
}
.side_menu.active{
    opacity: 1;
    transition: .5s all;
    transform: translateX(0px);    
}

.side_menu_header{
    background-color: #e7c3c3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3% 5%;
}
.close_icon{
    font-size: 28px;
    float: right;
}
.close_icon:hover{
    cursor: pointer;
    color: blueviolet;
}
.side_menu__content{
    padding: 3% 0%;
    height: calc(100vh - 60px);
}
.side_menu__item{
    margin-bottom: 15px;
    width: 100%;
    background-color: #f3f3fc;
    padding: 15px 25px;
}
.side_menu__item.active{
    background-color: #e7c3c3;
}
.side_menu__item:hover{
    cursor: pointer;
    background-color:#e7c3c3;
}




/* side menu */

/* Admin panel */


/* content */

.tabcontent{
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.tabcontent h3{
    text-align: center;
}

.content_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    width: 80%;
}
.content_container table, tr , td, th{
    border: 1px solid #cfcfcf;
    text-align: center;
}
.column{
    min-width: 100px;
    text-align: center;
    border: 1px solid #cfcfcf;
    padding: 10px;
}
td{
    padding: 5px;
}  
.wide_cell{
    padding: 10px;
    text-align: justify;
    width: 50%;
}

.delete_button{
    display: block;
    margin: 10px auto;
    width: 120px;
    background-color: #fff;
    color:red;
    padding: 5px 10px;
}
.delete_button:hover{
    cursor: pointer;
    background-color: red;
    color: #fff;
}

.filter, .sort{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.sort select, .filter select{
    padding: 5px;
    width: 70%;
    margin-bottom: 10px;
}

.table_container{
    margin: 20px auto;
}

.add_block{
    margin-bottom: 20px;
}
.add_link{
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    transition: .3s ease-in-out;
}
.add_link:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.edit_button{
    width: 120px;
    display: block;
    margin-bottom: 15px;
    background-color: #fff;
    color:#223eb9;
    padding: 5px 10px;
}
.edit_button:hover{
    cursor: pointer;
    background-color: #223eb9;
    color: #fff;
}
.o_s_image{
    width: 200px;
    height: 200px;
}

.actions_col{
    text-align: center;
    margin: 0 auto;
}
.img_auto_link{
    color:black;
    display: block;
}
.img_auto_link:hover{
    color: #7bbe54;
}
.small_column{
    width:50px;
}
.medium_column{
    width:130px;
}
.advantages_column{
    padding-left: 20px;
    text-align: left;
    min-width: 150px;
}
/* add form styles  */

.form_container{
    width: 30%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding-bottom: 50px;
}

.date-time_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.date-time_block__inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px auto 0px;
}
.input_date{
    margin: 0;
    width: 200px;
}
.input_time{
    margin: 0;
    margin-left: 20px;
    width: 150px;
}
.order_addresses{
    resize: vertical;
    max-height: 300px;
    min-height: 200px;
}
.direction_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.direction_block select{
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.done_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 25px;
}
.done_block input{
    width: auto;
    margin-bottom: 0;
    margin-left: 30px;
}
.done_block input:hover, .done_block label:hover{
    cursor: pointer;
}

.add_button{
    margin: 0px 10px;
    background-color: #fff;
    color: #000;
    transition: all .3s;
    padding: 10px 45px;
    border: 3px dashed burlywood;
    font-size: 18px;
}
.add_button:hover{
    cursor: pointer;
    background-color: #7bbe54;
    color: #fff;
}
.submit_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.center_image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.edit_car_main_image{
    width: 500px;
}
.car_image{
    margin-bottom: 10px;
    width: 500px;
}
/* input[type=checkbox]{
    display: none;
}
.checkbox{
    width: 30px;
    height: 30px;
    display: block;
    background-color: #fff;
}
.checkbox::after{
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #fff;
    content:'';
    left: 0;
    bottom: 0;
} */
/* add form styles  */


/* content */

  /* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}